{% extends 'base.html.twig' %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block body %}

<div class="container mt-4">
    <h1>{{ recipe.name }}</h1>
    <div class= "container">
        <img src="{{ recipe.image }}" alt="">
        <h2>Ingrédients</h2>

        {# <ul> #}
            {# {% for ingredient in ingredientArray %} #}
                {# <li>               #}
                    {# {{ ingredient.quantity }} {{ ingredient.measured }} {{ ingredient[0].name }} #}
                {# </li> #}
            {# {% endfor %} #}
        {# </ul> #}
        <ul>
            {% set i = 0 %}
            {% for ingredient in recipe.recipeIngredients %}
                <li>              
                    {{ ingredient.quantity }} {{ ingredient.measured }} {{ ingredientArray[i].name }}
                </li>
                {% set i = i + 1 %}
            {% endfor %}
        </ul>
        
        <h2>Préparation</h2>

        {% for step in recipe.steps %}
            <h6>Etape {{ loop.index }}</h6>
            <p>{{ step.description }}</p>
        {% endfor %}
    </div>

    <div class="">
        <h2>Commentaires</h2>

        <h6>Julien le 07/06/19 :</h6>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo saepe nisi, dolorum ratione sed recusandae enim ipsa, tenetur quae eligendi dolores amet, cupiditate doloremque facere accusantium? Enim, ex suscipit atque eaque eius asperiores laudantium tenetur quibusdam! Rerum possimus adipisci aut assumenda, voluptates mollitia laborum quam. Voluptatem sed molestiae id odio.
        </p>
        
        <h6>Isaline le 06/06/19 :</h6>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo saepe nisi, dolorum ratione sed recusandae enim ipsa, tenetur quae eligendi dolores amet, cupiditate doloremque facere accusantium? Enim, ex suscipit atque eaque eius asperiores laudantium tenetur quibusdam! Rerum possimus adipisci aut assumenda, voluptates mollitia laborum quam. Voluptatem sed molestiae id odio.
        </p>
    </div>
</div>
{% endblock %}
