{% extends 'base.html.twig' %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block body %}

    <div class="container mt-4">
        <h1 class="title-center">{{ recipe.name }}</h1>
        <div class= "container">
            <div class="title-center">
            {% if recipe.filename %}
                <img class="miniature-img" src="{{ vich_uploader_asset(recipe, 'imageFile') }}" alt="" > 
                {% else %}
                <img class="miniature-img" src="/images/recipes/{{ recipe.category.name|replace({'entrées': 'entrees'}) }}.jpg" alt="">
            {% endif %}
            </div>
            <h3>Ingrédients</h3>
            <ul>
                {% for ingredient in recipe.recipeIngredients %}
                    <li>              
                        {{ ingredient.quantity }} {{ ingredient.measured }} {{ingredient.ingredients[0].name }}
                    </li>
                {% endfor %}
            </ul>
            
            <h3 class="mt-5">Préparation</h3>

            {% for step in recipe.steps %}
                <h6>Etape {{ loop.index }} :</h6>
                <p>{{ step.description }}</p>
            {% endfor %}
        </div>

        <div class="container mt-5 mb-4">
            <h4 class="comments">
                {% if recipe.comments | length == 0 %}
                    Pas encore de commentaire.
                    {% else %}
                    {{ recipe.comments | length}} commentaire{% if recipe.comments | length > 1 %}s{% endif %} :
                {% endif %}  
            </h4>

            {% for comment in recipe.comments |reverse %}
                <h6>{{ comment.author }} le {{ comment.createdAT | date ('d/m/Y à H:i') }} :</h6>
                <p>{{ comment.content }}</p>
            {% endfor %}

            {% if app.user %}
                {{ form_start(commentForm) }}
                    {{ form_row(commentForm.content, {'label': "Commentaire :", 'attr':{'placeholder': "Votre commentaire"}}) }}
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                {{ form_end(commentForm)}}
            {% else %}
                <h5>Vous ne pouvez pas faire de commentaire si vous n'êtes pas connecté !</h5>
                <a href="{{ path('login')}}" class="btn btn-primary">Connexion</a>
            {% endif %}
        </div>
    </div>

{% endblock %}
